html {
	height: 100%;
}

body {
	display: flex;
	flex-direction: column;
	margin: 0 10% 0;
	height: 100%;
}

header {
	height: 20%;
	text-align: right;
	padding: 2% 0;
	color: #2d3c49;
}

#name {
	font-size: 300%;
	margin: 0;
}

#title {
	margin: 0;
}

#logo {
	float: left;
	height: 100%;
}

#hr {
	border: 2px solid #7d97ad;

}

aside {
	height: 75%;
	margin: 3% 0;

}

#mainpic {
	max-height: 100%;
}

section {
	
}

#featured {
	color: #7d97ad;
	margin: 0;
}

#works {
	display: flex;
	justify-content: space-between;
}

.work {
	width: 30%;
	display: flex;
	flex-direction: column;
	text-align: center;
}

.description {
	color: #2d3c49;
}

@media screen and (max-width: 550px) {
	#logo {
		height: 70%;
	}

	aside {
		height: 30%;
	}

	#name {
		font-size: 200%;
	}
}




