html {
	height: 100%;
}

body {
	display: flex;
	flex-direction: column;
	margin: 0 10%;
	height: 100%;
}

header {
	height: 20%;
	padding: 2% 0;
}

#wrapper {
	height: 100%;
	display: flex;
}

#logoContainer {
	height: 100%;
	width: 50%;
}

#nameContainer {
	text-align: right;
	color: #2d3c49;
	height: 100%;
	width: 50%;
}

#name {
	font-size: 300%;
	margin: 0;
}

#title {
	margin: 0;
}

#logo {
	height: 100%;
}

#hr {
	border: 2px solid #7d97ad;
	width: 100%;

}

figure {
	height: 75%;
	margin: 3% 0;
}

#mainpic {
	max-height: 100%;
	width: 100%;
}

#featured {
	color: #7d97ad;
	margin: 0;
}

#works {
	display: flex;
	justify-content: space-between;
}

.work {
	width: 30%;
	display: flex;
	flex-direction: column;
	text-align: center;
}

.description {
	color: #2d3c49;
}

@media screen and (max-width: 550px) {
	#logo {
		height: 70%;
	}

	figure {
		height: 30%;
	}

	#name {
		font-size: 200%;
	}
}




